<!-- 'py' is for padding on top and bottom(y-axis) and 'mt-auto' is to move the footer to the bottom(also add 'vh-100' to boilerplate.ejs body)  -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-muted">
        <span class="text-muted">&copy; YelpCamp 2023</span>
    </div>
</footer>